
.n-space[data-v-391c47b7] {
  padding: 30px;
}

.n-space[data-v-19d3de9c] {
  padding: 30px;
}

.n-layout-content[data-v-8a674472] {
  height: var(100vh - 60px);

  background: no-repeat bottom left;
  background-size: contain;
}
