.n-layout-header[data-v-efa662cc] {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8eb;
}
.n-layout-header a[data-v-efa662cc] {
  text-decoration: none;
}
.n-layout-header .n-space[data-v-efa662cc] {
  align-items: center;
  gap: 18px 27px !important;
}
.n-layout-header .n-space a[data-v-efa662cc] {
  color: #4b3f97;
  margin-left: 0 10px;
}
.n-layout-header .n-space a[data-v-efa662cc]:hover {
  border-bottom: 1px solid #c39696;
}
.n-layout-header .n-space div:nth-last-of-type(-n + 2) a[data-v-efa662cc] {
  border-bottom: 0;
}
.n-layout-header .n-icon[data-v-efa662cc] {
  padding: 5px;
  color: #4b3f97;
}
.n-layout-header .person[data-v-efa662cc] {
  background-color: #4b3f97;
  color: #fff;
  border-radius: 50%;
}
.n-layout-header .logo[data-v-efa662cc] {
  display: flex;
  align-items: center;
}
.n-layout-header .logo h1[data-v-efa662cc] {
  color: #4b3f97;
}
.n-layout-header .logo span[data-v-efa662cc] {
  margin-left: 10px;
  color: rgba(73, 63, 145, 0.6);
}
